/.idea/*
/out/*
.DS_Store
README.md
/nbproject/*
build.xml
manifest.mf
/build/*
/PostServer/nbproject/private/
/PostServer/dist/
/PostServer/build/
/PostClient/nbproject/private/
/PostClient/build/
/PostClient/dist/